<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Cambio de clave</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

                <div class="form-group">
                    <label>Clave actual</label>

                    <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ vm.errors.other }}
                    </p>
                </div>

                <div class="form-group">
                    <label>Clave nueva</label>

                    <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required/>
                    <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                        La clave debe tener mas de 3 caracteres.
                    </p>
                </div>

                <div class="form-group">
                    <label>Confirme su nueva clave.</label>

                    <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required="" />
                    <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
                        las claves deben coincidir.
                    </p>

                </div>

                <p class="help-block"> {{ vm.message }} </p>

                <button class="btn btn-lg btn-primary" type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
</div>